@media screen and (max-width: 991px) {
    h3 {
        font-size: 1.2rem;
    }
    
    .nav-toggle {
        display: block;
        margin-right: 20px;
    }

    .main-nav {
        overflow: initial;
    }

    .nav-links {
        position: absolute;
        background-color: white;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        transition: 0.2s ease-in-out;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .examples-area {
        gap: 20px;
    }

    .examples-card {
        width: calc(50% - 10px);
        height: 180px;
    }

    .cta-section {
        padding-block: 80px;
    }

}

@media screen and (max-width: 767px) {
    .box {
        margin-top: -30px;
    }

    .box1 {
        margin-top: -40px;
    }

    .box2 {
        margin-top: -30px;
    }

    .primary-button {
        width: 100%;
    }

    .header-section {
        flex-direction: column-reverse;
    }

    .header-left {
        max-width: 100vw;
        text-align: center;
    }

    .features-card {
        min-width: calc(50% - 10px);
    }

    .big-feature-container, #second-feature {
        flex-direction: column;
        gap: 30px;
    }

    .footer-container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }

    .link-column {
        align-items: stretch;
    }

}

@media screen and (max-width: 479px) {
    :root {
        --padding-inline-section: 10px;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .features-card {
        min-width: 100%;
    }

    .examples-card {
        width: 100%;
    }

    .feature-img img {
        object-fit: contain;
        object-fit: scale-down;
    }
}



@media only screen and (max-width: 950px) {
    /* menu */
    .menu {
      flex-direction: column;
      background-color: rgba(5, 5, 5, 0.5);
      align-items: start;
      position: absolute;
      top: 73px;
      left: 0;
      width: 100%;
      z-index: 1;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .logo1 img {
        height: 40px;
        width: 110px;
    }
  
    .menu a {
      margin-left: 12px;
      color: #FFFFFF;
    }
  
    .menu li {
      margin-bottom: 10px;
    }
  
    .menu-icon {
      display: block;
      color: #000000;
      font-size: 28px;
      cursor: pointer;
    }

    .small-bold-text {
        font-size: 0.9rem;
        font-weight: 700;
    }

    .dropdown .dropbtn {
        margin-left: 12px;
        color: #FFFFFF;
    }

    .search-box {
        margin-left: 12px;
        color: #FFFFFF;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 100px;
        margin-left: 25px;
        background-color:rgba(230, 230, 250, 0.5);
    }

    .dropdown-content a {
        float: none;
        margin: 0;
        font-size: 17px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;  
        transition: 0.2s all ease-in-out;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }    

    .search-box input {
        margin-left: 15px;
        color: #FFFFFF;
    }

/*     .box1 {
        position: relative;
        margin-left: 10px;
        top: 60px;
        height: 50px; 
        width: 46px;
        z-index: 2;
    }
    
    .box2 {
        position: fixed;
        margin-left: 180px;
        top: 100px;
        width:100px;
        height:100px;
        z-index: 3;
    }
  
    .box{
        position: fixed;
        margin-left: 300px;
        top: 150px;
        z-index: 5;
    } */

}
